
.debugMenu
{ 
    position: fixed;
    z-index: 999999;   
    
    color: white;
    font-size: 12rem;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    /*background-color: grey;*/
}

.debug_objctSelected
{
    border: 2px dotted white;
    outline: 2px dotted black;
}



.debugBg1
{
    background-color: plum;
}

.debugBg2
{
    background-color: bisque;
}