.movmnt_Area
{
    height: 100%;
    width: 100%;
    
    position: relative;
}

.movmnt_Group
{
    width: 8px;
    height: 8px;
    
    position: absolute;
    
    /*for debug*/
    opacity: 0.0;
    background-color: #FFFFFF;
}