.gameMainDiv
{
    width: 100%;
    height: 100%;
    
    
    overflow: hidden;
    /*opacity: 0;*/
}

.gameAntiCopy
{
    width: 100%;
    height: 100%;    
    position: fixed;
    
    z-index: 999998;
    
    opacity: 0;
}

.gameActiveArea
{
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;    
    position: fixed;
    background-color: #0FFFFF;    
    
    z-index: 999997;
    
    visibility: hidden;
    
    opacity: 0.5;
}

.disply_none
{
    display: none;
}



/*selecao do mouse sem cor*/
::-moz-selection { /* Code for Firefox */
    display: none;
}
::selection {
    display: none;
}



.desaqui1 
{ 
    width: 200px; height: 50px; background-color: pink; 
}
.desaqui2 
{ 
    width: 400px; height: 100px; background-color: green; 
    position: relative;
    animation-name: sobeDesce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes sobeDesce 
{
    from 
    {
        background-color: red;
        top: 0px;
    }
    to 
    {
        background-color: yellow;
        top: -50px;
    }
}