html, body
{
    height: 100%;
    margin: 0;
}


html
{
    font-size: 10px;
    /*display: none;*/
}
h1
{
    font-size: 2.4rem;
    margin: 0px;
}
h2
{
    font-size: 2.2rem;
    margin: 0px;
}
h3
{
    font-size: 2.0rem;
    margin: 0px;
}
p
{    
    font-size: 1.8rem;
    margin: 0px;
}

img
{
    position: absolute;
}